{% extends 'base.html' %}

{% block title%} Appointment' Families {% endblock %}

{% block content %}
<div class="container">
<h1> Appointment' Families </h1>
<div class="container">
<form action="/dentalclinic/owners/update/{{ owner.id }}/" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<div class="row">
			<div class="col-sm-2"><label for="first_name">First Name</label></div>
			<div class="col-sm-10"><input type="text" name="first_name" value=" {{ owner.first_name }}" /></div>
		</div>
	</div></br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-2"><label for="last_name">Last Name</label></div>
			<div class="col-sm-10"><input type="text" name="last_name" value=" {{ owner.last_name }}" /></div>
		</div>
	</div></br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-2"><label for="address">Address</label></div>
			<div class="col-sm-10"><input type="text" name="address" value=" {{ owner.address }}" /></div>
		</div>
	</div></br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-2"><label for="city">City</label></div>
			<div class="col-sm-10"><input type="text" name="city" value=" {{ owner.city }}" /></div>
		</div>
	</div></br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-2"><label for="telephone">Telephone</label></div>
			<div class="col-sm-10"><input type="text" name="telephone" value=" {{ owner.telephone }}" /></div>
		</div>
	</div>
		
	<input type="submit" class="btn btn-primary" value="Update Appointment' Families " name="">
			
</form>
</div>
</div>
{% endblock %}