{% extends 'base.html' %}

{% block title%}Home{% endblock %}

{% block content %}
	<h1 style="font-family:Garamond, serif;color:black;"><b class="b">Welcome To Dental Clinic</b></h1>
<div align="center">
	<!-- <h1 >👩‍⚕️ Prevention is better than cure 👨‍⚕️</h1> -->
	<img src="../../static/1.jpg" width="480" />
	<img src="../../static/2.jpg" width="500"  />
	<img src="../../static/3.jpg" width="500" />
</div></br></br></br>

<div class="container">
	<div class="row">
		<div class="col-md-4 arrow-right">
			<i class="fa fa-volume-control-phone" style="font-size:36px"></i>
			<div class="overflow-hidden">
				<h4>Phone</h4>
				<p class="lead">
					09-790270945
				</p>
			</div>
		</div>
		<div class="col-md-4 arrow-right">
			<i class="fa fa-envelope" style="font-size:36px"></i>
			<div class="overflow-hidden">
				<h4>Email</h4>
					<p class="lead">
						admin123@gmail.com
					</p>
					</div>
				</div>
		<div class="col-md-4">
			<i class="fa fa-map-marker" style="font-size:36px"></i>
			<div class="overflow-hidden">
				<h4>Location</h4>
					<p class="lead">
						NO(23), Parami Street,  Hlaing Township, Yangon
					</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
