{% extends 'base.html' %}

{% block title%} All Doctors {% endblock %}

{% block content %}

<h2> Doctors</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Specialist</th>
      		<th scope="col">MBBS</th>
		</tr>
	</thead>
	{% for doctor in all_doctors %}
	<tbody>
		<tr>
			<!-- <th scope="row">1</th> -->
			<td><b>{{ doctor.first_name }}&nbsp;{{ doctor.last_name }}</td>
			<!-- <td>{{ doctor.last_name }}</td> -->
			<td>( {{ doctor.specialty}} )</td>
			<td>{{ doctor.mbbs }}</td>
		</tr>
		<!-- <tr>			
			<th>&nbsp;{{ doctor.mbbs }}</th>
		</tr> -->
	{% empty %}
		<p>There are no doctors to display</p>
	{% endfor %}
	</tbody>
</table>
{% endblock %}